<!-- <div class="container">
  <div class="card" style="width: 14rem;">
    <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/programacao.svg" class="card-img-top img1" alt="...">
    <div class="card-body">
      <p class="card-text">Escola_ <br><strong>PROGRAMAÇÃO</strong></p>
      <P class="cursos1">Lógica, Python, PHP, Java, .NET, Node JS, C, Computação, Jogos, IoT e mais...</P>
    </div>
  </div>

  <div class="card" style="width: 14rem;">
    <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/programacao.svg" class="card-img-top img1" alt="...">
    <div class="card-body">
      <p class="card-text">Escola_ <br><strong>PROGRAMAÇÃO</strong></p>
      <P class="cursos1">Lógica, Python, PHP, Java, .NET, Node JS, C, Computação, Jogos, IoT e mais...</P>
    </div>
  </div>

  <div class="card" style="width: 14rem;">
    <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/programacao.svg" class="card-img-top img1" alt="...">
    <div class="card-body">
      <p class="card-text">Escola_ <br><strong>PROGRAMAÇÃO</strong></p>
      <P class="cursos1">Lógica, Python, PHP, Java, .NET, Node JS, C, Computação, Jogos, IoT e mais...</P>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 14rem">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/programacao.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text PROGRAMAÇÃO">Escola_ <br><strong>PROGRAMAÇÃO</strong></p>
          <P class="cursos1">Lógica, Python, PHP, Java, .NET, Node JS, C, Computação, Jogos, IoT e mais...</P>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 14rem;">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/front-end.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text FRONT-END">Escola_ <br><strong>FRONT-END</strong></p>
          <P class="cursos1">HTML, CSS, React, Angular, JavaScript, jQuery e mais...</P>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 14rem;">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/programacao.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text DATASCIENCE">Escola_ <br><strong>DATA SCIENCE</strong></p>
          <P class="cursos1">Ciência de dados, BI, SQL e Banco de Dados, Excel, Machine Learning, NoSQL, Estatística e mais...</P>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 14rem">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/devops.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text DEVOPS">Escola_ <br><strong>DEVOPS</strong></p>
          <P class="cursos1">AWS, Azure, Docker, Segurança, IaC, Linux e mais...</P>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 14rem;">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/design-ux.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text UXDesign">Escola_ <br><strong>UX & DESIGN</strong></p>
          <P class="cursos1">Usabilidade e UX, Vídeo e Motion, 3D e mais...</P>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 14rem;">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/mobile.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text MOBILE">Escola_ <br><strong>MOBILE</strong></p>
          <P class="cursos1">React Native, Flutter, iOS e Swift, Android, Kotlin, Jogos e mais...</P>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 14rem;">
        <img  src="https://www.alura.com.br/assets/api/formacoes/categorias/inovacao-gestao.svg" class="card-img-top img1" alt="...">
        <div class="card-body">
          <p class="card-text INOVAÇÃOGESTÃO">Escola_ <br><strong>INOVAÇÃO & GESTÃO</strong></p>
          <P class="cursos1">Métodos Ágeis, Softskills, Liderança e Gestão, Startups, Vendas e mais...</P>
        </div>
      </div>
    </div>
  </div>

  <video width="400" controls>
    <source src="https://www.youtube.com/watch?v=dJkFHeknMVw" type="video">
    <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
    Your browser does not support HTML video.
  </video>
</div>
