<nav class="navbar">
  <div class="container">
    <form class="d-flex" role="search">
      <img class="imgNav" src="https://www.alura.com.br/assets/img/home/alura-logo.1647533643.svg" alt="">
      <input class="form-control " type="search" placeholder="Oque você quer aprender?" aria-label="Search">

      <p class="p1">NOSSAS FORMAÇOES</p>
      <p class="p1">PARA EMPRESAS</p>
      <p class="p1">DEV EM >T> DEV EM</p>
      <p class="p1">test</p>
      <p class="p1">|</p>
    </form>
    <button class="btn" type="submit">MATRICULE-SE</button>
  </div>
</nav>

<div class="container container2">
  <strong class="textH1"><h1>Mergulhe em <br> Tecnologia!</h1></strong>
  <p class="textH2">Você vai estudar, praticar, discutir e se aprofundar<br> em uma plataforma que respira tecnologia.</p>
</div>

<app-card></app-card>
